<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Talks</title>
    <link rel="stylesheet" href="/stylesheet/final.css">
</head>
<body>
    <div class="intro"> you have succesfully loged in and ur data is stored safely</div>
    <div class="box">we are working on this site ..it will take a while</div>
</body>
</html>