<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Talks</title>
    <link rel="stylesheet" href="stylesheet/resister.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css"
      integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"/>
      <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="head">Siqn-Up</div>
        <div class="form">
            <form action="/resister" method="post">
                <label for "Username">Username :-</label>
                <input type="text" name="Username" placeholder="Username"><br>
                <label for "email">E-mail :-</label>
                <input type="email" name="email" placeholder="...@gmail.com"><br>
                <label for "mobile">Mobile number :-</label>
                <input type="text" name="mobile" placeholder="mobile number"><br>
                <label for "pasword">Password :-</label>
                <input type="password" name="Password" placeholder="Password"><br>
                <label for "pasword"> Conform Password :-</label>
                <input type="password" name="cPassword" placeholder="Confirm Password"><br>
                
                <input type="checkbox" name="terms" value="true" > <spam class="terms">Accept all the terms and conditions</spam><br>
                <p class="error"><%= text %></p>
                
                <input type="submit"  value="create" name = "submit" placeholder="login">
            </form>
        </div>
        <div class="foot">
            <span>Already Have Account</span> <a href="login">Login</a>
        </div>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>